body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1157px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:55px;
  width:1100px;
  height:1px;
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:35px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:10px;
  width:297px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:277px;
  word-wrap:break-word;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:18px;
  width:81px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:14px;
  width:15px;
  height:24px;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:66px;
  width:612px;
  height:1013px;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:200px;
  word-wrap:break-word;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:0px;
  width:204px;
  height:43px;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:200px;
  word-wrap:break-word;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:43px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:0px;
  width:204px;
  height:43px;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:200px;
  word-wrap:break-word;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:970px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:43px;
  width:204px;
  height:970px;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:970px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:43px;
  width:204px;
  height:970px;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:970px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:43px;
  width:204px;
  height:970px;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:143px;
  width:100px;
  height:60px;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:377px;
  width:100px;
  height:60px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:493px;
  width:100px;
  height:60px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:612px;
  width:100px;
  height:60px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:731px;
  width:100px;
  height:60px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:845px;
  width:100px;
  height:60px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:972px;
  width:100px;
  height:60px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:267px;
  width:100px;
  height:60px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:203px;
  width:0px;
  height:0px;
}
#u378_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u378_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:327px;
  width:0px;
  height:0px;
}
#u379_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u379_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:327px;
  width:0px;
  height:0px;
}
#u380_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u380_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:29px;
  width:71px;
  height:8px;
}
#u380_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:29px;
  width:8px;
  height:128px;
}
#u380_seg3 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:149px;
  width:71px;
  height:8px;
}
#u380_seg4 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:149px;
  width:8px;
  height:17px;
}
#u380_seg5 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:151px;
  width:20px;
  height:20px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:327px;
  width:0px;
  height:0px;
}
#u381_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u381_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:29px;
  width:71px;
  height:8px;
}
#u381_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:29px;
  width:8px;
  height:248px;
}
#u381_seg3 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:269px;
  width:71px;
  height:8px;
}
#u381_seg4 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:269px;
  width:8px;
  height:16px;
}
#u381_seg5 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:270px;
  width:20px;
  height:20px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:134px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:327px;
  width:0px;
  height:0px;
}
#u382_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u382_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:29px;
  width:71px;
  height:8px;
}
#u382_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:29px;
  width:8px;
  height:368px;
}
#u382_seg3 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:389px;
  width:71px;
  height:8px;
}
#u382_seg4 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:389px;
  width:8px;
  height:15px;
}
#u382_seg5 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:389px;
  width:20px;
  height:20px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:194px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:327px;
  width:0px;
  height:0px;
}
#u383_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u383_seg1 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:29px;
  width:71px;
  height:8px;
}
#u383_seg2 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:29px;
  width:8px;
  height:478px;
}
#u383_seg3 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:499px;
  width:71px;
  height:8px;
}
#u383_seg4 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:499px;
  width:8px;
  height:19px;
}
#u383_seg5 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:503px;
  width:20px;
  height:20px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:-113px;
  top:251px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:905px;
  width:0px;
  height:0px;
}
#u384_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u384_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:52px;
  width:20px;
  height:20px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:297px;
  width:0px;
  height:0px;
}
#u385_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u385_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:671px;
}
#u385_seg2 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:659px;
  width:75px;
  height:8px;
}
#u385_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:659px;
  width:8px;
  height:16px;
}
#u385_seg4 {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:660px;
  width:20px;
  height:20px;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:354px;
  width:100px;
  word-wrap:break-word;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:306px;
  width:100px;
  height:60px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:423px;
  width:100px;
  height:60px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:423px;
  width:100px;
  height:60px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:958px;
  width:100px;
  height:60px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:1514px;
  width:100px;
  height:60px;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:1775px;
  width:100px;
  height:60px;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:536px;
  width:100px;
  height:60px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:1076px;
  width:100px;
  height:60px;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:1185px;
  width:100px;
  height:60px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:1292px;
  width:100px;
  height:60px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:1903px;
  width:100px;
  height:60px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:2022px;
  width:100px;
  height:60px;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:1397px;
  width:100px;
  height:60px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:642px;
  width:100px;
  height:60px;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:642px;
  width:100px;
  height:60px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:742px;
  width:100px;
  height:60px;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:844px;
  width:100px;
  height:60px;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:1406px;
  width:100px;
  height:60px;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:1514px;
  width:100px;
  height:60px;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:1642px;
  width:100px;
  height:60px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:1076px;
  width:100px;
  height:60px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:366px;
  width:0px;
  height:0px;
}
#u407_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u407_seg1 {
  border-width:0px;
  position:absolute;
  left:-207px;
  top:40px;
  width:211px;
  height:8px;
}
#u407_seg2 {
  border-width:0px;
  position:absolute;
  left:-207px;
  top:40px;
  width:8px;
  height:17px;
}
#u407_seg3 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:42px;
  width:20px;
  height:20px;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:453px;
  width:0px;
  height:0px;
}
#u408_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u408_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-10px;
  width:20px;
  height:20px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:483px;
  width:0px;
  height:0px;
}
#u409_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u409_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:596px;
  width:0px;
  height:0px;
}
#u410_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u410_seg1 {
  border-width:0px;
  position:absolute;
  left:-207px;
  top:30px;
  width:211px;
  height:8px;
}
#u410_seg2 {
  border-width:0px;
  position:absolute;
  left:-207px;
  top:30px;
  width:8px;
  height:16px;
}
#u410_seg3 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:31px;
  width:20px;
  height:20px;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:672px;
  width:0px;
  height:0px;
}
#u411_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u411_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-10px;
  width:20px;
  height:20px;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:702px;
  width:0px;
  height:0px;
}
#u412_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:74px;
}
#u412_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:66px;
  width:157px;
  height:8px;
}
#u412_seg2 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:60px;
  width:20px;
  height:20px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:62px;
  width:100px;
  word-wrap:break-word;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:702px;
  width:0px;
  height:0px;
}
#u413_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:176px;
}
#u413_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:168px;
  width:157px;
  height:8px;
}
#u413_seg2 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:162px;
  width:20px;
  height:20px;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:154px;
  width:100px;
  word-wrap:break-word;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:453px;
  width:0px;
  height:0px;
}
#u414_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u414_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:543px;
}
#u414_seg2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:531px;
  width:78px;
  height:8px;
}
#u414_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:525px;
  width:20px;
  height:20px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:282px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1018px;
  width:0px;
  height:0px;
}
#u415_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u415_seg1 {
  border-width:0px;
  position:absolute;
  left:-214px;
  top:38px;
  width:218px;
  height:8px;
}
#u415_seg2 {
  border-width:0px;
  position:absolute;
  left:-214px;
  top:38px;
  width:8px;
  height:20px;
}
#u415_seg3 {
  border-width:0px;
  position:absolute;
  left:-220px;
  top:43px;
  width:20px;
  height:20px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:1106px;
  width:0px;
  height:0px;
}
#u416_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u416_seg1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:1136px;
  width:0px;
  height:0px;
}
#u417_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u417_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:75px;
  width:164px;
  height:8px;
}
#u417_seg2 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:69px;
  width:20px;
  height:20px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:71px;
  width:100px;
  word-wrap:break-word;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1136px;
  width:0px;
  height:0px;
}
#u418_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u418_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1245px;
  width:0px;
  height:0px;
}
#u419_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u419_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:32px;
  width:20px;
  height:20px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1352px;
  width:0px;
  height:0px;
}
#u420_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u420_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:453px;
  width:0px;
  height:0px;
}
#u421_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:34px;
  height:8px;
}
#u421_seg1 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-4px;
  width:8px;
  height:946px;
}
#u421_seg2 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:934px;
  width:95px;
  height:8px;
}
#u421_seg3 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:934px;
  width:8px;
  height:19px;
}
#u421_seg4 {
  border-width:0px;
  position:absolute;
  left:-67px;
  top:938px;
  width:20px;
  height:20px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:497px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:1466px;
  width:0px;
  height:0px;
}
#u422_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u422_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:33px;
  width:20px;
  height:20px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:1544px;
  width:0px;
  height:0px;
}
#u423_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u423_seg1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1574px;
  width:0px;
  height:0px;
}
#u424_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u424_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:453px;
  width:0px;
  height:0px;
}
#u425_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u425_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:1316px;
}
#u425_seg2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1304px;
  width:132px;
  height:8px;
}
#u425_seg3 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:1304px;
  width:8px;
  height:18px;
}
#u425_seg4 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1307px;
  width:20px;
  height:20px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:700px;
  width:100px;
  word-wrap:break-word;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1835px;
  width:0px;
  height:0px;
}
#u426_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u426_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:1963px;
  width:0px;
  height:0px;
}
#u427_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u427_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:483px;
  width:0px;
  height:0px;
}
#u428_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u428_seg1 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:6px;
  width:92px;
  height:8px;
}
#u428_seg2 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:6px;
  width:8px;
  height:146px;
}
#u428_seg3 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:144px;
  width:9px;
  height:8px;
}
#u428_seg4 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:144px;
  width:8px;
  height:1429px;
}
#u428_seg5 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:1565px;
  width:240px;
  height:8px;
}
#u428_seg6 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1559px;
  width:20px;
  height:20px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:-133px;
  top:852px;
  width:100px;
  word-wrap:break-word;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:874px;
  width:0px;
  height:0px;
}
#u429_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u429_seg1 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-4px;
  width:8px;
  height:1186px;
}
#u429_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1174px;
  width:19px;
  height:8px;
}
#u429_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:1168px;
  width:20px;
  height:20px;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:581px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:672px;
  width:0px;
  height:0px;
}
#u430_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u430_seg1 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-4px;
  width:8px;
  height:1388px;
}
#u430_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1376px;
  width:19px;
  height:8px;
}
#u430_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:1370px;
  width:20px;
  height:20px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:682px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1427px;
  width:0px;
  height:0px;
}
#u431_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u431_seg1 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-4px;
  width:8px;
  height:633px;
}
#u431_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:621px;
  width:19px;
  height:8px;
}
#u431_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:615px;
  width:20px;
  height:20px;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:304px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1672px;
  width:0px;
  height:0px;
}
#u432_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u432_seg1 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-4px;
  width:8px;
  height:388px;
}
#u432_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:376px;
  width:19px;
  height:8px;
}
#u432_seg3 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:370px;
  width:20px;
  height:20px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:182px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:1574px;
  width:0px;
  height:0px;
}
#u433_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:482px;
}
#u433_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:474px;
  width:164px;
  height:8px;
}
#u433_seg2 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:468px;
  width:20px;
  height:20px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:311px;
  width:100px;
  word-wrap:break-word;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:1436px;
  width:0px;
  height:0px;
}
#u434_seg0 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-4px;
  width:30px;
  height:8px;
}
#u434_seg1 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-4px;
  width:8px;
  height:624px;
}
#u434_seg2 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:612px;
  width:240px;
  height:8px;
}
#u434_seg3 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:606px;
  width:20px;
  height:20px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:405px;
  width:100px;
  word-wrap:break-word;
}
