body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:835px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:835px;
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:11px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u3960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u3961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:7px;
  width:13px;
  height:24px;
}
#u3961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:10px;
  width:57px;
  height:17px;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:57px;
  height:17px;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:7px;
  width:13px;
  height:24px;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:10px;
  width:43px;
  height:17px;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:93px;
  width:1100px;
  height:189px;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:36px;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:36px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:0px;
  width:88px;
  height:36px;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:0px;
  width:69px;
  height:36px;
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:69px;
  height:36px;
}
#u3970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:36px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:0px;
  width:46px;
  height:36px;
}
#u3971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:42px;
  word-wrap:break-word;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:36px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:0px;
  width:97px;
  height:36px;
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:0px;
  width:61px;
  height:36px;
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:0px;
  width:68px;
  height:36px;
}
#u3974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u3975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:0px;
  width:68px;
  height:36px;
}
#u3975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:0px;
  width:68px;
  height:36px;
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:0px;
  width:68px;
  height:36px;
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:0px;
  width:68px;
  height:36px;
}
#u3978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:0px;
  width:68px;
  height:36px;
}
#u3979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:0px;
  width:68px;
  height:36px;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:64px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:0px;
  width:74px;
  height:36px;
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:36px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:0px;
  width:69px;
  height:36px;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:87px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:51px;
  height:87px;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:47px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:87px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:36px;
  width:88px;
  height:87px;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:84px;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:87px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:36px;
  width:69px;
  height:87px;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:65px;
  word-wrap:break-word;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:87px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:36px;
  width:69px;
  height:87px;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:65px;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:87px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:36px;
  width:46px;
  height:87px;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:42px;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:87px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:36px;
  width:97px;
  height:87px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:93px;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:87px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:36px;
  width:61px;
  height:87px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:57px;
  word-wrap:break-word;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:87px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:36px;
  width:68px;
  height:87px;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:64px;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:87px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:36px;
  width:68px;
  height:87px;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:64px;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:87px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:36px;
  width:68px;
  height:87px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:64px;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:87px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:36px;
  width:68px;
  height:87px;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:64px;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:87px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:36px;
  width:68px;
  height:87px;
  font-size:14px;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:87px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:36px;
  width:68px;
  height:87px;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:64px;
  word-wrap:break-word;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:87px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:36px;
  width:68px;
  height:87px;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:64px;
  word-wrap:break-word;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:87px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:36px;
  width:74px;
  height:87px;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:87px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:36px;
  width:69px;
  height:87px;
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:65px;
  word-wrap:break-word;
}
#u3999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:51px;
  height:41px;
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  word-wrap:break-word;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:41px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:123px;
  width:88px;
  height:41px;
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:41px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:123px;
  width:69px;
  height:41px;
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:41px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:123px;
  width:69px;
  height:41px;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:41px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:123px;
  width:46px;
  height:41px;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:41px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:123px;
  width:97px;
  height:41px;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:41px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:123px;
  width:61px;
  height:41px;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:41px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:123px;
  width:68px;
  height:41px;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:41px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:123px;
  width:68px;
  height:41px;
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:41px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:123px;
  width:68px;
  height:41px;
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:41px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:123px;
  width:68px;
  height:41px;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:41px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:123px;
  width:68px;
  height:41px;
}
#u4010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:41px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:123px;
  width:68px;
  height:41px;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:41px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:123px;
  width:68px;
  height:41px;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:123px;
  width:74px;
  height:41px;
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:41px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:123px;
  width:69px;
  height:41px;
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:164px;
  width:51px;
  height:25px;
}
#u4015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u4016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:25px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:164px;
  width:88px;
  height:25px;
}
#u4016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:164px;
  width:69px;
  height:25px;
}
#u4017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:164px;
  width:69px;
  height:25px;
}
#u4018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:164px;
  width:46px;
  height:25px;
}
#u4019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:164px;
  width:97px;
  height:25px;
}
#u4020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:164px;
  width:61px;
  height:25px;
}
#u4021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:164px;
  width:68px;
  height:25px;
}
#u4022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:164px;
  width:68px;
  height:25px;
}
#u4023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:164px;
  width:68px;
  height:25px;
}
#u4024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:164px;
  width:68px;
  height:25px;
}
#u4025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:164px;
  width:68px;
  height:25px;
}
#u4026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:164px;
  width:68px;
  height:25px;
}
#u4027_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:164px;
  width:68px;
  height:25px;
}
#u4028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:957px;
  top:164px;
  width:74px;
  height:25px;
}
#u4029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:164px;
  width:69px;
  height:25px;
}
#u4030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
