body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:835px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:835px;
}
#u3672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:11px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u3673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u3674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:757px;
  width:140px;
  height:40px;
}
#u3674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:479px;
  width:94px;
  height:30px;
}
#u3675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3675_input:disabled {
  color:grayText;
}
#u3676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:486px;
  width:57px;
  height:17px;
}
#u3676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:295px;
  width:94px;
  height:30px;
}
#u3677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3677_input:disabled {
  color:grayText;
}
#u3678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:302px;
  width:57px;
  height:17px;
}
#u3678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:295px;
  width:161px;
  height:30px;
}
#u3679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:298px;
  width:155px;
  height:25px;
}
#u3680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:156px;
  width:161px;
  height:30px;
}
#u3681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:159px;
  width:155px;
  height:25px;
}
#u3682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:162px;
  width:57px;
  height:17px;
}
#u3683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:202px;
  width:161px;
  height:30px;
}
#u3684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:205px;
  width:155px;
  height:25px;
}
#u3685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:208px;
  width:57px;
  height:17px;
}
#u3686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:252px;
  width:57px;
  height:17px;
}
#u3687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:541px;
  width:94px;
  height:30px;
}
#u3688_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3688_input:disabled {
  color:grayText;
}
#u3689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:7px;
  width:13px;
  height:24px;
}
#u3689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:10px;
  width:57px;
  height:17px;
}
#u3690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:57px;
  height:17px;
}
#u3691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:7px;
  width:13px;
  height:24px;
}
#u3692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:10px;
  width:57px;
  height:17px;
}
#u3693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:108px;
  width:135px;
  height:30px;
}
#u3694_input {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3694_input:disabled {
  color:grayText;
}
#u3695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:115px;
  width:57px;
  height:17px;
}
#u3695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:246px;
  width:132px;
  height:30px;
}
#u3696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3696_input:disabled {
  color:grayText;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:246px;
  width:132px;
  height:30px;
}
#u3697_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3697_input:disabled {
  color:grayText;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:615px;
  top:246px;
  width:132px;
  height:30px;
}
#u3698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3698_input:disabled {
  color:grayText;
}
#u3699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:353px;
  width:57px;
  height:17px;
}
#u3699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:302px;
  width:43px;
  height:17px;
}
#u3700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:546px;
  width:57px;
  height:17px;
}
#u3701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:589px;
  width:94px;
  height:30px;
}
#u3702_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3702_input:disabled {
  color:grayText;
}
#u3703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:672px;
  width:29px;
  height:17px;
}
#u3703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:635px;
  width:378px;
  height:103px;
}
#u3704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3705 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:645px;
  width:364px;
  height:86px;
}
#u3705_input {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:86px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:545px;
  width:21px;
  height:20px;
}
#u3706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:546px;
  width:57px;
  height:17px;
}
#u3707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:397px;
  width:54px;
  height:54px;
}
#u3708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:416px;
  width:108px;
  height:17px;
}
#u3709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u3710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:295px;
  width:161px;
  height:30px;
}
#u3710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:298px;
  width:155px;
  height:25px;
}
#u3711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u3712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3712 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:302px;
  width:57px;
  height:17px;
}
#u3712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:246px;
  width:132px;
  height:30px;
}
#u3713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3713_input:disabled {
  color:grayText;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:246px;
  width:132px;
  height:30px;
}
#u3714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3714_input:disabled {
  color:grayText;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:346px;
  width:345px;
  height:30px;
}
#u3715_input {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3715_input:disabled {
  color:grayText;
}
