body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:835px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:835px;
}
#u3831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u3832 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:11px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u3832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u3833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3833 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:7px;
  width:13px;
  height:24px;
}
#u3833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3834 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:10px;
  width:57px;
  height:17px;
}
#u3834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3835 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:57px;
  height:17px;
}
#u3835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u3836 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:7px;
  width:13px;
  height:24px;
}
#u3836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3837 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:10px;
  width:43px;
  height:17px;
}
#u3837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3838 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:93px;
  width:1121px;
  height:189px;
}
#u3839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u3839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u3839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u3840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u3840 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:96px;
  height:36px;
}
#u3840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u3841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u3841 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:75px;
  height:36px;
}
#u3841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u3842 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:0px;
  width:50px;
  height:36px;
}
#u3842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u3843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u3843 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:106px;
  height:36px;
}
#u3843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u3844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u3844 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:0px;
  width:66px;
  height:36px;
}
#u3844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u3845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u3845 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:74px;
  height:36px;
}
#u3845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u3846 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:0px;
  width:74px;
  height:36px;
}
#u3846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u3847 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:0px;
  width:74px;
  height:36px;
}
#u3847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u3848 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:0px;
  width:74px;
  height:36px;
}
#u3848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u3849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u3849 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:0px;
  width:74px;
  height:36px;
}
#u3849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u3850 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:0px;
  width:74px;
  height:36px;
}
#u3850_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u3851 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:0px;
  width:74px;
  height:36px;
}
#u3851_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u3852 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:0px;
  width:80px;
  height:36px;
}
#u3852_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u3853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u3853 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:0px;
  width:75px;
  height:36px;
}
#u3853_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:71px;
}
#u3854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:55px;
  height:71px;
}
#u3854_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:51px;
  word-wrap:break-word;
}
#u3855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:71px;
}
#u3855 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:36px;
  width:96px;
  height:71px;
}
#u3855_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  word-wrap:break-word;
}
#u3856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u3856 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:36px;
  width:75px;
  height:71px;
  font-size:14px;
}
#u3856_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:71px;
  word-wrap:break-word;
}
#u3857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:71px;
}
#u3857 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:36px;
  width:50px;
  height:71px;
}
#u3857_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:46px;
  word-wrap:break-word;
}
#u3858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:71px;
}
#u3858 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:36px;
  width:106px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:102px;
  word-wrap:break-word;
}
#u3859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:71px;
}
#u3859 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:36px;
  width:66px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3859_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:62px;
  word-wrap:break-word;
}
#u3860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u3860 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:36px;
  width:74px;
  height:71px;
}
#u3860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u3861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u3861 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:36px;
  width:74px;
  height:71px;
}
#u3861_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u3862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u3862 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:36px;
  width:74px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u3863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u3863 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:36px;
  width:74px;
  height:71px;
}
#u3863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u3864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u3864 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:36px;
  width:74px;
  height:71px;
  font-size:14px;
}
#u3864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u3865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u3865 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:36px;
  width:74px;
  height:71px;
}
#u3865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u3866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u3866 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:36px;
  width:74px;
  height:71px;
}
#u3866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u3867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:71px;
}
#u3867 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:36px;
  width:80px;
  height:71px;
}
#u3867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u3868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u3868 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:36px;
  width:75px;
  height:71px;
}
#u3868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:71px;
  word-wrap:break-word;
}
#u3869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:41px;
}
#u3869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:55px;
  height:41px;
}
#u3869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u3870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u3870 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:107px;
  width:96px;
  height:41px;
}
#u3870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u3871 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:107px;
  width:75px;
  height:41px;
}
#u3871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u3872 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:107px;
  width:50px;
  height:41px;
}
#u3872_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u3873 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:107px;
  width:106px;
  height:41px;
}
#u3873_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u3874 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:107px;
  width:66px;
  height:41px;
}
#u3874_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3875 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:107px;
  width:74px;
  height:41px;
}
#u3875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3876 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:107px;
  width:74px;
  height:41px;
}
#u3876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3877 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:107px;
  width:74px;
  height:41px;
}
#u3877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3878 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:107px;
  width:74px;
  height:41px;
}
#u3878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3879 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:107px;
  width:74px;
  height:41px;
}
#u3879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3880 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:107px;
  width:74px;
  height:41px;
}
#u3880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3881 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:107px;
  width:74px;
  height:41px;
}
#u3881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u3882 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:107px;
  width:80px;
  height:41px;
}
#u3882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u3883 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:107px;
  width:75px;
  height:41px;
}
#u3883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:41px;
}
#u3884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:55px;
  height:41px;
}
#u3884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u3885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u3885 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:148px;
  width:96px;
  height:41px;
}
#u3885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u3886 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:148px;
  width:75px;
  height:41px;
}
#u3886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u3887 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:148px;
  width:50px;
  height:41px;
}
#u3887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u3888 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:148px;
  width:106px;
  height:41px;
}
#u3888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:148px;
  width:66px;
  height:41px;
}
#u3889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:148px;
  width:74px;
  height:41px;
}
#u3890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3891 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:148px;
  width:74px;
  height:41px;
}
#u3891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:148px;
  width:74px;
  height:41px;
}
#u3892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:148px;
  width:74px;
  height:41px;
}
#u3893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:148px;
  width:74px;
  height:41px;
}
#u3894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:148px;
  width:74px;
  height:41px;
}
#u3895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:148px;
  width:74px;
  height:41px;
}
#u3896_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:148px;
  width:80px;
  height:41px;
}
#u3897_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:148px;
  width:75px;
  height:41px;
}
#u3898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
