body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:835px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:835px;
}
#u5665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:11px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u5667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:7px;
  width:13px;
  height:24px;
}
#u5667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:10px;
  width:57px;
  height:17px;
}
#u5668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:57px;
  height:17px;
}
#u5669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:7px;
  width:13px;
  height:24px;
}
#u5670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:10px;
  width:43px;
  height:17px;
}
#u5671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:93px;
  width:1121px;
  height:189px;
}
#u5673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u5673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u5674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:96px;
  height:36px;
}
#u5674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u5675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:75px;
  height:36px;
}
#u5675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u5676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:0px;
  width:50px;
  height:36px;
}
#u5676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u5677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:106px;
  height:36px;
}
#u5677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u5678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:0px;
  width:66px;
  height:36px;
}
#u5678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u5679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:74px;
  height:36px;
}
#u5679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:0px;
  width:74px;
  height:36px;
}
#u5680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:0px;
  width:74px;
  height:36px;
}
#u5681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:0px;
  width:74px;
  height:36px;
}
#u5682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u5683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:0px;
  width:74px;
  height:36px;
}
#u5683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:0px;
  width:74px;
  height:36px;
}
#u5684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:0px;
  width:74px;
  height:36px;
}
#u5685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:0px;
  width:80px;
  height:36px;
}
#u5686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u5687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:0px;
  width:75px;
  height:36px;
}
#u5687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u5688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:71px;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:55px;
  height:71px;
}
#u5688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:51px;
  word-wrap:break-word;
}
#u5689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:71px;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:36px;
  width:96px;
  height:71px;
}
#u5689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  word-wrap:break-word;
}
#u5690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:36px;
  width:75px;
  height:71px;
}
#u5690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:71px;
  word-wrap:break-word;
}
#u5691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:71px;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:36px;
  width:50px;
  height:71px;
}
#u5691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:46px;
  word-wrap:break-word;
}
#u5692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:71px;
}
#u5692 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:36px;
  width:106px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:102px;
  word-wrap:break-word;
}
#u5693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:71px;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:36px;
  width:66px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:62px;
  word-wrap:break-word;
}
#u5694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:36px;
  width:74px;
  height:71px;
}
#u5694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5695 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:36px;
  width:74px;
  height:71px;
}
#u5695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5696 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:36px;
  width:74px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5697 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:36px;
  width:74px;
  height:71px;
}
#u5697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5698 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:36px;
  width:74px;
  height:71px;
  font-size:14px;
}
#u5698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u5699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5699 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:36px;
  width:74px;
  height:71px;
}
#u5699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5700 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:36px;
  width:74px;
  height:71px;
}
#u5700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:71px;
}
#u5701 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:36px;
  width:80px;
  height:71px;
}
#u5701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u5702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u5702 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:36px;
  width:75px;
  height:71px;
}
#u5702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:71px;
  word-wrap:break-word;
}
#u5703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:41px;
}
#u5703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:55px;
  height:41px;
}
#u5703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u5704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u5704 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:107px;
  width:96px;
  height:41px;
}
#u5704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u5705 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:107px;
  width:75px;
  height:41px;
}
#u5705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u5706 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:107px;
  width:50px;
  height:41px;
}
#u5706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u5707 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:107px;
  width:106px;
  height:41px;
}
#u5707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u5708 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:107px;
  width:66px;
  height:41px;
}
#u5708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5709 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:107px;
  width:74px;
  height:41px;
}
#u5709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5710 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:107px;
  width:74px;
  height:41px;
}
#u5710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5711 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:107px;
  width:74px;
  height:41px;
}
#u5711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5712 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:107px;
  width:74px;
  height:41px;
}
#u5712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5713 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:107px;
  width:74px;
  height:41px;
}
#u5713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5714 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:107px;
  width:74px;
  height:41px;
}
#u5714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5715 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:107px;
  width:74px;
  height:41px;
}
#u5715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u5716 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:107px;
  width:80px;
  height:41px;
}
#u5716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u5717 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:107px;
  width:75px;
  height:41px;
}
#u5717_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:41px;
}
#u5718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:55px;
  height:41px;
}
#u5718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u5719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u5719 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:148px;
  width:96px;
  height:41px;
}
#u5719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u5720 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:148px;
  width:75px;
  height:41px;
}
#u5720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u5721 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:148px;
  width:50px;
  height:41px;
}
#u5721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u5722 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:148px;
  width:106px;
  height:41px;
}
#u5722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u5723 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:148px;
  width:66px;
  height:41px;
}
#u5723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5724 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:148px;
  width:74px;
  height:41px;
}
#u5724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5725 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:148px;
  width:74px;
  height:41px;
}
#u5725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5726 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:148px;
  width:74px;
  height:41px;
}
#u5726_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5727 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:148px;
  width:74px;
  height:41px;
}
#u5727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5728 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:148px;
  width:74px;
  height:41px;
}
#u5728_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5729 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:148px;
  width:74px;
  height:41px;
}
#u5729_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5730 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:148px;
  width:74px;
  height:41px;
}
#u5730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u5731 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:148px;
  width:80px;
  height:41px;
}
#u5731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u5732 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:148px;
  width:75px;
  height:41px;
}
#u5732_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
