body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:835px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1169px;
  height:835px;
}
#u5782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5783 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:11px;
  width:30px;
  height:30px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u5783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:26px;
  word-wrap:break-word;
}
#u5784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u5784 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:7px;
  width:13px;
  height:24px;
}
#u5784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5785 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:10px;
  width:57px;
  height:17px;
}
#u5785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5786 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:57px;
  height:17px;
}
#u5786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u5787 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:7px;
  width:13px;
  height:24px;
}
#u5787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5788 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:10px;
  width:43px;
  height:17px;
}
#u5788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5789 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:93px;
  width:1121px;
  height:189px;
}
#u5790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u5790 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:36px;
}
#u5790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:51px;
  word-wrap:break-word;
}
#u5791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:36px;
}
#u5791 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:0px;
  width:96px;
  height:36px;
}
#u5791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:92px;
  word-wrap:break-word;
}
#u5792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u5792 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:75px;
  height:36px;
}
#u5792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u5793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u5793 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:0px;
  width:50px;
  height:36px;
}
#u5793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u5794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u5794 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:106px;
  height:36px;
}
#u5794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u5795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u5795 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:0px;
  width:66px;
  height:36px;
}
#u5795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u5796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5796 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:74px;
  height:36px;
}
#u5796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5797 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:0px;
  width:74px;
  height:36px;
}
#u5797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5798 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:0px;
  width:74px;
  height:36px;
}
#u5798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5799 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:0px;
  width:74px;
  height:36px;
}
#u5799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u5800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5800 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:0px;
  width:74px;
  height:36px;
}
#u5800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5801 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:0px;
  width:74px;
  height:36px;
}
#u5801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u5802 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:0px;
  width:74px;
  height:36px;
}
#u5802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u5803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u5803 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:0px;
  width:80px;
  height:36px;
}
#u5803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u5804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u5804 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:0px;
  width:75px;
  height:36px;
}
#u5804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u5805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:71px;
}
#u5805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:55px;
  height:71px;
}
#u5805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:51px;
  word-wrap:break-word;
}
#u5806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:71px;
}
#u5806 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:36px;
  width:96px;
  height:71px;
}
#u5806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  word-wrap:break-word;
}
#u5807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u5807 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:36px;
  width:75px;
  height:71px;
  font-size:14px;
}
#u5807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:71px;
  word-wrap:break-word;
}
#u5808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:71px;
}
#u5808 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:36px;
  width:50px;
  height:71px;
}
#u5808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:46px;
  word-wrap:break-word;
}
#u5809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:71px;
}
#u5809 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:36px;
  width:106px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:102px;
  word-wrap:break-word;
}
#u5810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:71px;
}
#u5810 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:36px;
  width:66px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5810_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:62px;
  word-wrap:break-word;
}
#u5811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5811 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:36px;
  width:74px;
  height:71px;
}
#u5811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5812 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:36px;
  width:74px;
  height:71px;
}
#u5812_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5813 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:36px;
  width:74px;
  height:71px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5814 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:36px;
  width:74px;
  height:71px;
}
#u5814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5815 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:36px;
  width:74px;
  height:71px;
  font-size:14px;
}
#u5815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u5816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5816 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:36px;
  width:74px;
  height:71px;
}
#u5816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:71px;
}
#u5817 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:36px;
  width:74px;
  height:71px;
}
#u5817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:70px;
  word-wrap:break-word;
}
#u5818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:71px;
}
#u5818 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:36px;
  width:80px;
  height:71px;
}
#u5818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:76px;
  word-wrap:break-word;
}
#u5819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:71px;
}
#u5819 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:36px;
  width:75px;
  height:71px;
}
#u5819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:71px;
  word-wrap:break-word;
}
#u5820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:41px;
}
#u5820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:55px;
  height:41px;
}
#u5820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u5821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u5821 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:107px;
  width:96px;
  height:41px;
}
#u5821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u5822 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:107px;
  width:75px;
  height:41px;
}
#u5822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u5823 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:107px;
  width:50px;
  height:41px;
}
#u5823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u5824 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:107px;
  width:106px;
  height:41px;
}
#u5824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u5825 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:107px;
  width:66px;
  height:41px;
}
#u5825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5826 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:107px;
  width:74px;
  height:41px;
}
#u5826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5827 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:107px;
  width:74px;
  height:41px;
}
#u5827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5828 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:107px;
  width:74px;
  height:41px;
}
#u5828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5829 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:107px;
  width:74px;
  height:41px;
}
#u5829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5830 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:107px;
  width:74px;
  height:41px;
}
#u5830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5831 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:107px;
  width:74px;
  height:41px;
}
#u5831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5832 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:107px;
  width:74px;
  height:41px;
}
#u5832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u5833 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:107px;
  width:80px;
  height:41px;
}
#u5833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u5834 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:107px;
  width:75px;
  height:41px;
}
#u5834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:41px;
}
#u5835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:55px;
  height:41px;
}
#u5835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u5836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:41px;
}
#u5836 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:148px;
  width:96px;
  height:41px;
}
#u5836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u5837 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:148px;
  width:75px;
  height:41px;
}
#u5837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u5838 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:148px;
  width:50px;
  height:41px;
}
#u5838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u5839 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:148px;
  width:106px;
  height:41px;
}
#u5839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u5840 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:148px;
  width:66px;
  height:41px;
}
#u5840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5841 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:148px;
  width:74px;
  height:41px;
}
#u5841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5842 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:148px;
  width:74px;
  height:41px;
}
#u5842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5843 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:148px;
  width:74px;
  height:41px;
}
#u5843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5844 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:148px;
  width:74px;
  height:41px;
}
#u5844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5845 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:148px;
  width:74px;
  height:41px;
}
#u5845_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5846 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:148px;
  width:74px;
  height:41px;
}
#u5846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:41px;
}
#u5847 {
  border-width:0px;
  position:absolute;
  left:892px;
  top:148px;
  width:74px;
  height:41px;
}
#u5847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u5848 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:148px;
  width:80px;
  height:41px;
}
#u5848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u5849 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:148px;
  width:75px;
  height:41px;
}
#u5849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
